@using UI.Models

<section id="page-banner" class="page-banner bg-dark profile_cover_picture" style="height: 294px; background-image: url('~/Content/assets/web/images/cover-img.jpg') !important">
    <div class="overlay-bg"></div>
    <div class="container">
        <div class="banner-dtl" style="margin-top: 20px;">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-sm-3 col-sm-3 col-xs-3" style="padding-right: 0px;">
                            <div class="couple-img" style="margin-top: 10px; height: 150px; max-height: 150px;">
                                <img class="profile_pic" src="~/Content/assets/web/images/reviewer.png" alt="Test Name" style="width: 100%; height: 100%;">
                            </div>
                        </div>
                        <div class="col-sm-9 col-sm-9 col-xs-9">
                            <div class="couple-dtl">
                                <div class="row">
                                    <div class="col-md-7 col-sm-7 col-xs-12 pad-rt-0">
                                        <h3 class="couple-name">@cHelper.ServiceProvider.Name</h3>
                                    </div>
                                </div>
                                <div class="couple-contact">
                                    <div><i class="fa fa-envelope"></i>@cHelper.ServiceProvider.Email</div>
                                    <div><i class="fa fa-user"></i>@cHelper.ServiceProvider.Rent / @cHelper.ServiceProvider.RentType.Name</div>
                                    <div><i class="fa fa-phone"></i>@cHelper.ServiceProvider.Phone</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
