@model UI.ViewModels.ServiceProviderProfileViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@Html.Partial("_CoverSection")

<section id="couple-dashboard" class="couple-dashboard-main-block">
    <div class="container-fluid">
        @Html.Partial("_NavigationButtonList")
        <div class="couple-dashboard-block body_section">
            <h3 class="dashboard-heading">Dashboard</h3>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="my-dashboard">
                        <div class="background-image">
                            <i class="flaticon-wedding-day"></i>
                        </div>
                        <div class="facts-block dashboard-dtl">
                            <h2 class="facts-number ">@Model.TotalRequests</h2>
                            <div class="dashboard-text">Total Requests</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="my-dashboard">
                        <div class="background-image">
                            <i class="flaticon-wedding-planning"></i>
                        </div>

                        <div class="facts-block dashboard-dtl">
                            <h2 class="facts-number ">@Model.Responses</h2>
                            <div class="dashboard-text">Responses</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="my-dashboard">
                        <div class="background-image">
                            <i class="flaticon-honeymoon-luggage"></i>
                        </div>
                        <div class="facts-block dashboard-dtl">
                            <h2 class="facts-number ">@Model.Pending</h2>
                            <div class="dashboard-text">Pending Requests</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="my-dashboard">
                        <div class="background-image">
                            <i class="flaticon-heart-shaped-padlock"></i>
                        </div>

                        <div class="facts-block dashboard-dtl">
                            <h2 class="facts-number counter">@Model.TotalEvents</h2>
                            <div class="dashboard-text">Total Events</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="my-dashboard">
                        <div class="background-image">
                            <i class="flaticon-heart-shaped-padlock"></i>
                        </div>

                        <div class="facts-block dashboard-dtl">
                            <h2 class="facts-number counter">@Model.CompletedEvents</h2>
                            <div class="dashboard-text">Completed Events</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="my-dashboard">
                        <div class="background-image">
                            <i class="flaticon-heart-shaped-padlock"></i>
                        </div>

                        <div class="facts-block dashboard-dtl">
                            <h2 class="facts-number counter">@Model.UpcomingEvents</h2>
                            <div class="dashboard-text">Ongoing Events</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>