@model UI.ViewModels.AdminIndexViewModel

@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@Html.Partial("_CoverSection")
<section id="couple-dashboard" class="couple-dashboard-main-block">
    <div class="container-fluid">
        <ul class="couple-dashboard-tabs general-nav-tabs tabs" id="navigation-btnlist">
            <li><a href="@Url.Action("Index","Admin")" class="btn btn-default" id="Dashboard"><span class="badge">Home</span></a></li>
            <li><a href="@Url.Action("Profile","Admin")" class="btn btn-default" id="Profile"><span class="badge">Profile</span></a></li>
        </ul>
        <div class="couple-dashboard-block body_section">
            <h3 class="dashboard-heading">My Dashboard</h3>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="my-dashboard">
                        <div class="background-image">
                            <i class="flaticon-wedding-day"></i>
                        </div>
                        <div class="facts-block dashboard-dtl">
                            <h2 class="facts-number ">@Model.Customers</h2>
                            <div class="dashboard-text">Number of Customers</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="@Url.Action("Admins")">
                        <div class="my-dashboard">
                            <div class="background-image">
                                <i class="flaticon-wedding-planning"></i>
                            </div>
                            <div class="facts-block dashboard-dtl">
                                <h2 class="facts-number ">@Model.Admins</h2>
                                <div class="dashboard-text">Number of Admins</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="@Url.Action("Cities")">
                        <div class="my-dashboard">
                            <div class="background-image">
                                <i class="flaticon-honeymoon-luggage"></i>
                            </div>
                            <div class="facts-block dashboard-dtl">
                                <h2 class="facts-number ">@Model.Cities</h2>
                                <div class="dashboard-text">Number of Cities</div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="my-dashboard">
                        <div class="background-image">
                            <i class="flaticon-heart-shaped-padlock"></i>
                        </div>

                        <div class="facts-block dashboard-dtl">
                            <h2 class="facts-number counter">@Model.ServiceProviders</h2>
                            <div class="dashboard-text">Number of Service Providers</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="@Url.Action("Categories")">
                        <div class="my-dashboard">
                            <div class="background-image">
                                <i class="flaticon-heart-shaped-padlock"></i>
                            </div>
                            <div class="facts-block dashboard-dtl">
                                <h2 class="facts-number counter">@Model.Categories</h2>
                                <div class="dashboard-text">Number of Service Categories</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="my-dashboard">
                        <div class="background-image">
                            <i class="flaticon-heart-shaped-padlock"></i>
                        </div>

                        <div class="facts-block dashboard-dtl">
                            <h2 class="facts-number counter">@Model.Events</h2>
                            <div class="dashboard-text">Ongoing Events</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>