@using UI.Models
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">

<div style="padding: 0px;" class="collapse navbar-collapse responsive_nav" id="menu">
    <ul class="nav home_nav navbar-nav margin_style " id="pad_nav ">
        <li style="border:none;margin-bottom: 0;" class="hover ">
            <a href="@Url.Action("Index","ServiceProvider")"> VENDORS <i class="fa fa-angle-down" aria-hidden="true"></i></a>
            <ul class="sub-menu">

                @foreach (var item in cHelper.GetServiceCategories())
                {
                    <li><a href="@Url.Action("Index","ServiceProvider",new {@categoryId=item.Id})">@item.Name</a></li>
                }
                
                @if(!cHelper.IsServiceProvider){
                <li style="border-top: 1px solid #ff1985;">
                    <a style="color: #ff1985;" href="@Url.Action("SignUp", "ServiceProvider")">Are you vendor? Join Us</a>
                </li>
                }
            </ul>
        </li>
        <li style="border:none;margin-bottom: -3px;" class="hover ">
            <a href="@Url.Action("About","Home")"> About ShadiBox</a>
        </li>
    </ul>
    <ul class="nav abt_nav navbar-nav navbar-right">

        @if (cHelper.CurrentUser == null) {
            <li class=""><a href="@Url.Action("Login", "Account")" class="li_res">LOG IN</a></li>
        }
        else {
            if (cHelper.IsServiceProvider) {
                <li class=""><a href="@Url.Action("Index", "Profile")">Service Profile</a></li>
            }
            else {
                <li class=""><a href="@Url.Action("SignUp", "ServiceProvider")">JOIN AS VENDOR</a></li>
            }
            <li class=""><a href="@Url.Action("Profile", "Account")" class="li_res">@cHelper.CurrentUser.Username</a></li>
        }
    </ul>

</div>