@model UI.ViewModels.IndexServiceProviderViewModel

@{
    ViewBag.Title = "Vendors";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section style="background-color:#faf9f5;">
    <div class="container">
        <nav class="breadcrumb" style="margin-bottom: 0px !important; height: 36px;">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="active"><a href="@Url.Action("Index")">Vendors</a></li>
        </nav>
    </div>
</section>

<section id="category-listing" class="category-listing-main-block section_for_page web-section">
    <div class="container">
        <div class="refine-search">
            <h4 class="refine-search-heading">Refine Your Search</h4>
            @using (Html.BeginForm("Index", "ServiceProvider", FormMethod.Post)) {
                <div class="form-group">
                    <div class="row">
                        <div class="form-group form-field col-md-4 col-sm-4 col-xs-12 col-lg-4">
                            <input type="hidden" name="current_category" id="current_category" value="">
                            <select class="form-control input-lg select2-category" value="" id="category" name="categoryId">
                                <option value="">All Categories</option>
                                @foreach (var item in Model.ServiceCategories) {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group form-field col-md-4 col-sm-4 col-xs-12 col-lg-4">
                            <input type="hidden" name="current_City" id="current_City" value="">
                            <select class="form-control input-lg select2-city" id="city_name" name="cityId">
                                <option value="">All Cities</option>
                                @foreach (var item in Model.Cities) {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="search-btn">
                                <button type="submit" id="index-search-vendor" class="btn btn-pink">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="category-listing-block" style="padding-top: 30px;">
            <div class="row" id="records-div">
                @foreach (var item in Model.ServiceProviders) {
                    <div class="col-md-4 col-sm-6" style="padding: 5px;">
                        <a href="@Url.Action("Profile",new {@id=@item.Id})" type="submit" class="analytics">
                            <div class="category-listing-section" style="max-height: 338px; margin-bottom: 0;">
                                <div class="category-listing-dtl">
                                    <div class="category-listing-img">
                                        <img src="~/Content/userassets/vandors/images/689/cc24e28fbb2c967de97dd55165447a5b.jpg" title="Infocus by Zain" style="height: 258px;" category="Photographers" class="loading img-responsive" alt="Infocus by Zain" url="profile/infocus-by-zain-689.html" address="2nd Floor Zainab Towers Model town Link Road Lahore. ">
                                    </div>
                                    <div class="category-info">
                                        <h6 class="category-dtl-heading">@item.Name</h6>
                                        <div class="category-dtl-address"><i class="fa fa-map-marker" aria-hidden="true"></i> @item.Address </div>
                                    </div>
                                </div>
                                <div class="category-listing-text">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="category-text-heading">
                                                @item.ServiceCategory.Name
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="category-price text-right">
                                                @item.Rent/<span style='font-size: 10px;'>@item.RentType.Name</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
