@using UI.Models
@model UI.ViewModels.ServiceProfileViewModel

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout2.cshtml";
}



<style type="text/css">
    .search-style {
        -moz-transition: transform 1s;
        -webkit-transition: transform 1s;
        transition: transform 1s;
    }

    .flip {
        transform: rotate(720deg) translate(1px);
    }
</style>
<style type="text/css">
    .section_for_page {
        background-color: #faf9f5;
    }

    .stars-container {
        position: relative;
        display: inline-block;
        color: transparent;
    }

    .stars-container:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '★★★★★';
        color: lightgray;
    }

    .stars-container:after {
        position: absolute;
        top: 0;
        left: 0;
        content: '★★★★★';
        color: #ff1985;
        overflow: hidden;
    }
</style>
<section id="page-banner" class="page-banner" style="background-image: url('../Content/userassets/vandors/images/689/6846d8628aa5a99e71a99ca6349aa65c.jpg');">
    <div class="overlay-bg"></div>
    <div class="container">

        <div class="banner-dtl text-center">

            <div class="breadcrumb-block">
                <ol class="breadcrumb">
                    <li>
                        <div class="tags-clr-one" style="padding: 4px 10px 5px 12px; font-size: 16px; background-color: #ff1985; ">Featured</div>
                    </li>
                </ol>
            </div>
            <h2 class="banner-heading">@Model.ServiceName</h2>
            <div class="breadcrumb-block">
                <ol class="breadcrumb">
                    <li>
                        City : @Model.City &nbsp;|&nbsp;Category : @Model.Category &nbsp;|&nbsp;Types : @Model.ServiceType &nbsp;|&nbsp;Starting From :
                        @Model.Rent
                    </li>
                </ol>
            </div>
            <div class="breadcrumb-block">
                <ol class="breadcrumb">
                    <li>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="star-rating">
                                    <style type="text/css">
                                        .stars-rating:after {
                                            width: 0%;
                                        }
                                    </style>
                                    <div style="font-size: 25px;">
                                        <span class="stars-container stars-rating">★★★★★</span>
                                        <span style="font-size: 20px; vertical-align: bottom;">&nbsp; ( NR )</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section_for_page">
    <div class="container">
        <nav class="breadcrumb" style="margin-bottom: 0px !important; height: 36px;">

            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("Index","ServiceProvider")">Vendors</a></li>
            <li><a href="@Url.Action("Index", "ServiceProvider",
                             new {categoryId = Model._ServiceProvider.ServiceCategoryId})">
                @Model.Category
            </a></li>
            <li class="active"><a href="">@Model.ServiceName</a></li>


        </nav>
    </div>
</section>


<style type="text/css">
    .breadcrumb li {
        padding: 2px 0 2px 0;
        color: white;
    }

    .breadcrumb li a {
        color: black;
        font-size: 12px;
        padding: 0px;
    }

    .breadcrumb li a:hover {
        color: #ff1985;
    }

    .breadcrumb li.active a {
        color: #ff1985;
    }
</style>
<style type="text/css">
    body {
        background-color: #faf9f5;
    }

    hr {
        border: 0 !important;
    }



    .section-for-page {
        background-color: #faf9f5;
    }

    .owl-item {
        width: 320px !important;
    }

    #related-vendors .owl-item {
        /*width: 230px !important;*/
    }

    label:hover {
        background-color: transparent;
    }

    .owl-stage {
        min-width: 100% !important;
        width: 100%;
    }

    .owl-stage-outer {
        height: 280px;
        width: 100%;
    }

    @@media only screen and (max-width: 530px) {
        .review-badges {
            width: 30% !important;
            margin-right: 0 !important;
        }

        .review-rating {
            text-align: left !important;
            padding-left: 0;
            margin-top: -10px;
            margin-bottom: 16px;
        }
    }

    @@media only screen and (min-width: 530px) {
        .profile-navbar-fixed {
            top: 0;
            z-index: 100;
            position: fixed;
            background-color: #faf9f5;
            margin: 0;
            transition: all .5s;
            padding: 35px 0px 0px 0px;
            color: white;
            margin-top: -35px;
            width: 100%;
        }
    }

    .navebar-row {
        background-color: #faf9f5;
        opacity: 1;
        width: 100%;
    }

    .profile-navbar-fixed li a {
        background-color: #white;
        margin-bottom: 0 !important;
        color: white;
    }

    .profile-navbar-fixed li a span {
        color: white;
        !important;
    }

    .border {
        border-bottom: 4px solid #ff1985;
    }

    #shadibox-contact:hover {
        color: #ff1985;
    }

    .vendor-profile-img iframe {
        max-width: 96%;
        width: 96%;
        height: 300px;
    }

    .profile_section {
        padding: 0px 0 20px 0px !important;
    }

    .pakage_box {
    }

    .uper_box {
        background-color: rgba(57, 45, 72, 0.9);
        transition: all .4s;
        padding: 40px;
        height: 215px !important;
        min-height: 215px !important;
    }

    .pakage_box:hover .uper_box {
        background-color: #ff1985;
    }

    .uper_box_h2 {
        color: white;
        font-weight: 700;
    }

    .uper_box_p {
        color: white;
    }

    .pricing-table-heading {
        font-size: 22px !important;
    }

    .thumbnail {
        position: relative;
        height: 150px;
        border: none;
        overflow: hidden;
        background-color: transparent;
    }

    .thumbnail > img {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }


    .next_img_1 > a {
        font-size: 45px;
        font-weight: 900;
    }

    .next_img_1 {
        position: absolute;
        top: 5px;
        right: 7px;
        height: 200px;
        width: 97%;
        left: 5px;
        background-color: rgba(0,0,0,.5);
    }

    .next_video_1 {
        position: absolute;
        top: 4px;
        right: 0px;
        height: 200px;
        width: 97%;
        left: 6px;
        background-color: rgba(0,0,0,.5);
    }

    .thumbnail-albums {
        border: none;
        padding: 0px;
        position: relative;
        transition: all .3s;
    }

    .album-images {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 235px;
    }

    .thumbnail-albums > .caption {
        padding: 20px;
    }

    .thumbnail-albums:hover {
        box-shadow: 0px 2px 65px rgba(200, 197, 197, 1);
        margin-top: -2px;
    }

    .album_display_image {
        width: 100%;
        height: auto;
        min-height: 235px;
    }

    .footer-links {
        color: #505050 !important;
    }

    .footer-links:hover {
        color: #ff1985 !important;
    }

    .package_modal_btn_Close {
        color: #0e0404;
        margin: -15px 5px 0px 0px;
        font-size: 60px;
        cursor: pointer;
        position: absolute;
        z-index: 1;
        right: 25px;
    }

    .vendor-pro-section {
        height: 280px;
        text-align: center;
        vertical-align: middle;
        padding-top: 25%;
    }
</style>
<section id="vendor-profile" class="section-for-page vendor-profile-main-page  web-section profile_section">
    <div class="" id="border">
        <div class="container">
            <div class="row" id="navbar-row">
                <div class="col-md-12">
                    <ul class="new-listing-nav-tabs tabs" id="profile_nav_bar" style="background-color: #faf9f5;">
                        <!--BOOTSTRAP TABS-->
                        
                        <div class="">
                            <div>

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="home">home</div>
                                    <div role="tabpanel" class="tab-pane" id="profile">profile</div>
                                    <div role="tabpanel" class="tab-pane" id="messages">messages</div>
                                    <div role="tabpanel" class="tab-pane" id="settings">settings</div>
                                </div>

                            </div>


                        </div>
                        
                        
                        @if (cHelper.IsServiceProvider)
                        {
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="vendor-profile" class="section-for-page vendor-profile-main-page  web-section profile_section">
    <div class="" id="border">
        <div class="container">
            <div class="row" id="navbar-row">
                <div class="col-md-12">
                    <ul class="new-listing-nav-tabs tabs" id="profile_nav_bar" style="background-color: #faf9f5;">
                        @foreach (var item in Model.ProfileSection) {
                            <li><a href="#@item.SectionHead.Name" class="active btn btn-default"><span class="badge">@item.SectionHead.Name</span></a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about" class="section-for-page vendor-profile-main-page  web-section profile_section" style="background-color: #faf9f5">
    <div class="container">
        <div class="row" id="">

            <div class="col-md-8">
                <div class="vendor-pro-block">
                    <div class="vendor-pro-info">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12" style="border: 1px solid #DADADA;background-color: white;">
                                            <div class="vendor-pro-section">
                                                <h4 class="vendor-pro-heading">Infocus by Zain</h4>
                                                <ul>
                                                    <div id="show_contact" style="display: none; ">
                                                        <li>
                                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                            2nd Floor Zainab Towers Model town Link Road Lahore.
                                                        </li>

                                                        <li>
                                                            <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:#">info@infocusbyzain.com</a>
                                                        </li>


                                                        <li id="show_phone">
                                                            <i class="fa fa-mobile-phone" aria-hidden="true"></i> <a href="tel:+971 566154545">+971 566154545</a>
                                                        </li>

                                                        <li>
                                                            <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+92 300 3160 242">+92 300 3160 242</a>
                                                        </li>
                                                        <li>
                                                            @*<i class="fa fa-globe" aria-hidden="true"></i> <a target="_blank" href="http://www.infocusbyzain.com/">http://www.infocusbyzain.com/</a>*@
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" style="color: black; font-weight: 600; font-family: sans-serif; font-style: italic;">When you call, don’t forget to mention that you found their profile on <span style="color: #ff1985;">ShadiBox.com</span></a>
                                                        </li>
                                                        <li>
                                                            <div class="row">
                                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding-right: 0;">
                                                                    <p style="font-size: 14px;">Call ShadiBox for the best price!</p>
                                                                    <p>
                                                                        <a href="#" class="analytics" data="689%2cShadibox_Contact.html">(+92) 42 35777 457 </a> <br>
                                                                        <a href="#" class="analytics" data="689%2cShadibox_Contact.html"> (+92) 300 3160 242</a>
                                                                    </p>
                                                                </div>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-left: 0;">
                                                                    <img src="~/Content/assets/web/images/Best_Price2.png" style="height: auto;" class="img-responsive">
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </div>
                                                    <li id="show_contact_button" style="text-align: center; margin-bottom: 15px;">
                                                        <button class="btn btn-pink analytics" data="689%2cVendor_Contact.html" style="margin-bottom: 28px;" onclick="show_contact(this,689)">View Number <span class="fa fa-phone" style="transform: rotate(250deg);margin-left: -4px;margin-top: -3px;"></span></button>
                                                    </li>




                                                </ul>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="vendor-profile-img">
                                        @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3403.1027930821297!2d74.31421721474092!3d31.46635838138756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391906abc20eb461%3A0x7dbbf63882d580b!2sZainab+Tower%2C+Model+Town+Link+Rd%2C+Lahore+54600%2C+Pakistan!5e0!3m2!1sen!2s!4v1522390120610" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="col-md-12">
                            <div class="vendor-pro-dtl" id="about-content" style="height: 220px; overflow: hidden;">
                                <h4 class="vendor-pro-heading">About Infocus by Zain </h4>               <p><p>Covering every minute detail of wedding and the fastest growing brand alhamdolilah. Providing services to hundreds of people every month. Wedding Coverage with&nbsp;new style and emotions. Zain Ul Abideen is always curious to bring out more with every passing day and a alot of creativity this side of sun.</p>
                                </p>               <br>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="vendor-enquery-block">
                    <h4 class="vendor-enquery-heading">Book Infocus by Zain</h4>
                    <p class="vendor-enquery-sub-heading"></p>

                    <div class="form-group">
                        <form id="send-vendor-profile-inquiry" method="post" action="https://www.shadibox.com/send-inquiry">
                            <div class="form-group" id="progress"></div>
                            <input type="hidden" name="Inquiry_Type" id="Inquiry_Type" value="Vendor">
                            <input type="hidden" name="Vendor_Id" id="Vendor_Id" value="689">
                            <input type="text" class="form-control required" value="" id="Client_Name" name="Client_Name" placeholder="Your Name *" /><input type="email" class="form-control required" value="" id="Client_Email" name="Client_Email" placeholder="Email Address *" />


                            <div class="col-md-12" style="padding:0">
                                <div class="col-md-3" style="padding:0">
                                    <select class="form-control" name="Country_Code" id="Country_Code" style="height: 34px; margin-bottom: 10px;">
                                        <option value="0">+0</option>
                                        <option value="1">+1</option>
                                        <option value="7">+7</option>
                                        <option value="20">+20</option>
                                        <option value="27">+27</option>
                                        <option value="30">+30</option>
                                        <option value="31">+31</option>
                                        <option value="32">+32</option>
                                        <option value="33">+33</option>
                                        <option value="34">+34</option>
                                        <option value="36">+36</option>
                                        <option value="38">+38</option>
                                        <option value="39">+39</option>
                                        <option value="40">+40</option>
                                        <option value="41">+41</option>
                                        <option value="43">+43</option>
                                        <option value="44">+44</option>
                                        <option value="45">+45</option>
                                        <option value="46">+46</option>
                                        <option value="47">+47</option>
                                        <option value="48">+48</option>
                                        <option value="49">+49</option>
                                        <option value="51">+51</option>
                                        <option value="52">+52</option>
                                        <option value="53">+53</option>
                                        <option value="54">+54</option>
                                        <option value="55">+55</option>
                                        <option value="56">+56</option>
                                        <option value="57">+57</option>
                                        <option value="58">+58</option>
                                        <option value="60">+60</option>
                                        <option value="61">+61</option>
                                        <option value="62">+62</option>
                                        <option value="63">+63</option>
                                        <option value="64">+64</option>
                                        <option value="65">+65</option>
                                        <option value="66">+66</option>
                                        <option value="70">+70</option>
                                        <option value="81">+81</option>
                                        <option value="82">+82</option>
                                        <option value="84">+84</option>
                                        <option value="86">+86</option>
                                        <option value="90">+90</option>
                                        <option value="91">+91</option>
                                        <option selected='selected' value="92">+92</option>
                                        <option value="93">+93</option>
                                        <option value="94">+94</option>
                                        <option value="95">+95</option>
                                        <option value="98">+98</option>
                                        <option value="211">+211</option>
                                        <option value="212">+212</option>
                                        <option value="213">+213</option>
                                        <option value="216">+216</option>
                                        <option value="218">+218</option>
                                        <option value="220">+220</option>
                                        <option value="221">+221</option>
                                        <option value="222">+222</option>
                                        <option value="223">+223</option>
                                        <option value="224">+224</option>
                                        <option value="225">+225</option>
                                        <option value="226">+226</option>
                                        <option value="227">+227</option>
                                        <option value="228">+228</option>
                                        <option value="229">+229</option>
                                        <option value="230">+230</option>
                                        <option value="231">+231</option>
                                        <option value="232">+232</option>
                                        <option value="233">+233</option>
                                        <option value="234">+234</option>
                                        <option value="235">+235</option>
                                        <option value="236">+236</option>
                                        <option value="237">+237</option>
                                        <option value="238">+238</option>
                                        <option value="239">+239</option>
                                        <option value="240">+240</option>
                                        <option value="241">+241</option>
                                        <option value="242">+242</option>
                                        <option value="244">+244</option>
                                        <option value="245">+245</option>
                                        <option value="246">+246</option>
                                        <option value="248">+248</option>
                                        <option value="249">+249</option>
                                        <option value="250">+250</option>
                                        <option value="251">+251</option>
                                        <option value="252">+252</option>
                                        <option value="253">+253</option>
                                        <option value="254">+254</option>
                                        <option value="255">+255</option>
                                        <option value="256">+256</option>
                                        <option value="257">+257</option>
                                        <option value="258">+258</option>
                                        <option value="260">+260</option>
                                        <option value="261">+261</option>
                                        <option value="262">+262</option>
                                        <option value="263">+263</option>
                                        <option value="264">+264</option>
                                        <option value="265">+265</option>
                                        <option value="266">+266</option>
                                        <option value="267">+267</option>
                                        <option value="268">+268</option>
                                        <option value="269">+269</option>
                                        <option value="290">+290</option>
                                        <option value="291">+291</option>
                                        <option value="297">+297</option>
                                        <option value="298">+298</option>
                                        <option value="299">+299</option>
                                        <option value="350">+350</option>
                                        <option value="351">+351</option>
                                        <option value="352">+352</option>
                                        <option value="353">+353</option>
                                        <option value="354">+354</option>
                                        <option value="355">+355</option>
                                        <option value="356">+356</option>
                                        <option value="357">+357</option>
                                        <option value="358">+358</option>
                                        <option value="359">+359</option>
                                        <option value="370">+370</option>
                                        <option value="371">+371</option>
                                        <option value="372">+372</option>
                                        <option value="373">+373</option>
                                        <option value="374">+374</option>
                                        <option value="375">+375</option>
                                        <option value="376">+376</option>
                                        <option value="377">+377</option>
                                        <option value="378">+378</option>
                                        <option value="380">+380</option>
                                        <option value="381">+381</option>
                                        <option value="385">+385</option>
                                        <option value="386">+386</option>
                                        <option value="387">+387</option>
                                        <option value="389">+389</option>
                                        <option value="420">+420</option>
                                        <option value="421">+421</option>
                                        <option value="423">+423</option>
                                        <option value="500">+500</option>
                                        <option value="501">+501</option>
                                        <option value="502">+502</option>
                                        <option value="503">+503</option>
                                        <option value="504">+504</option>
                                        <option value="505">+505</option>
                                        <option value="506">+506</option>
                                        <option value="507">+507</option>
                                        <option value="508">+508</option>
                                        <option value="509">+509</option>
                                        <option value="590">+590</option>
                                        <option value="591">+591</option>
                                        <option value="592">+592</option>
                                        <option value="593">+593</option>
                                        <option value="594">+594</option>
                                        <option value="595">+595</option>
                                        <option value="596">+596</option>
                                        <option value="597">+597</option>
                                        <option value="598">+598</option>
                                        <option value="599">+599</option>
                                        <option value="670">+670</option>
                                        <option value="672">+672</option>
                                        <option value="673">+673</option>
                                        <option value="674">+674</option>
                                        <option value="675">+675</option>
                                        <option value="676">+676</option>
                                        <option value="677">+677</option>
                                        <option value="678">+678</option>
                                        <option value="679">+679</option>
                                        <option value="680">+680</option>
                                        <option value="681">+681</option>
                                        <option value="682">+682</option>
                                        <option value="683">+683</option>
                                        <option value="684">+684</option>
                                        <option value="686">+686</option>
                                        <option value="687">+687</option>
                                        <option value="688">+688</option>
                                        <option value="689">+689</option>
                                        <option value="690">+690</option>
                                        <option value="691">+691</option>
                                        <option value="692">+692</option>
                                        <option value="850">+850</option>
                                        <option value="852">+852</option>
                                        <option value="853">+853</option>
                                        <option value="855">+855</option>
                                        <option value="856">+856</option>
                                        <option value="880">+880</option>
                                        <option value="886">+886</option>
                                        <option value="960">+960</option>
                                        <option value="961">+961</option>
                                        <option value="962">+962</option>
                                        <option value="963">+963</option>
                                        <option value="964">+964</option>
                                        <option value="965">+965</option>
                                        <option value="966">+966</option>
                                        <option value="967">+967</option>
                                        <option value="968">+968</option>
                                        <option value="970">+970</option>
                                        <option value="971">+971</option>
                                        <option value="972">+972</option>
                                        <option value="973">+973</option>
                                        <option value="974">+974</option>
                                        <option value="975">+975</option>
                                        <option value="976">+976</option>
                                        <option value="977">+977</option>
                                        <option value="992">+992</option>
                                        <option value="994">+994</option>
                                        <option value="995">+995</option>
                                        <option value="996">+996</option>
                                        <option value="998">+998</option>
                                        <option value="1242">+1242</option>
                                        <option value="1246">+1246</option>
                                        <option value="1264">+1264</option>
                                        <option value="1268">+1268</option>
                                        <option value="1284">+1284</option>
                                        <option value="1340">+1340</option>
                                        <option value="1345">+1345</option>
                                        <option value="1441">+1441</option>
                                        <option value="1473">+1473</option>
                                        <option value="1649">+1649</option>
                                        <option value="1664">+1664</option>
                                        <option value="1670">+1670</option>
                                        <option value="1671">+1671</option>
                                        <option value="1684">+1684</option>
                                        <option value="1758">+1758</option>
                                        <option value="1767">+1767</option>
                                        <option value="1784">+1784</option>
                                        <option value="1787">+1787</option>
                                        <option value="1809">+1809</option>
                                        <option value="1868">+1868</option>
                                        <option value="1869">+1869</option>
                                        <option value="1876">+1876</option>
                                        <option value="7370">+7370</option>
                                    </select>
                                </div>
                                <div class="col-md-9" style="padding:0">
                                    <input type="text" class="form-control required" value="" id="Client_Mobile" name="Client_Mobile" placeholder="Phone *" />
                                </div>
                            </div>

                            <input type="number" min="0" class="form-control" value="" id="Guests" name="Guests" placeholder="Guests" />
                            <div class="date-picker">
                                <input type="text" id="Function_Date" name="Function_Date" class="form-control date-pick" data-date-start-date="+1d" placeholder="Function Date" />


                                <label><i class="fa fa-calendar" aria-hidden="true"></i></label>
                            </div>
                            <div class="no-of-gits-dropdown dropdown">
                                <input type="hidden" name="Function_Type" id="Function_Type">
                                <button class="btn dropdown-toggle" type="button" name="" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="drp-name" data-bind="label" id="profile_function_type">Function Type</span>
                                    <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="profiledropdownMenu1">
                                    <li><a href="#">Mehandi</a></li>
                                    <li><a href="#">Nikkah</a></li>
                                    <li><a href="#">Mangni</a></li>
                                    <li><a href="#">Barat</a></li>
                                    <li><a href="#">Walima</a></li>
                                    <li><a href="#">Anniversary</a></li>
                                    <li><a href="#">Other</a></li>

                                </ul>
                            </div>

                            <textarea class="form-control" id="Message" rows="4" placeholder="Message" name="Message"></textarea>
                            <div class="send-me" style="margin-top:10px; ">Function Time</div>
                            <div class="row" style="font-size: 13px;">
                                <div class="col-md-6">
                                    <label><input type="radio" value="Lunch" id="Lunch_Time" name="Function_Time" />&nbsp;&nbsp;Lunch Time</label>
                                </div>
                                <div class="col-md-6">
                                    <label><input type="radio" value="Dinner" id="Dinner_Time" name="Function_Time" />&nbsp;&nbsp; Dinner Time</label>
                                </div>
                            </div>
                            <button type="button" id="sendinquiry" onclick="form_validation(this,'send-vendor-profile-inquiry');" class="btn btn-pink analytics" data="689%2cInquiry.html" name="sendinquiry">Send Inquiry</button>
                            <div class="row" style="margin-top: 30px;">
                                <div class="col-md-12">
                                    <span style="color: black;">
                                        Need Help? Call Shadibox
                                        <a href="tel:924235777457" id="shadibox-contact" class="analytics" data="689%2cShadibox_Contact.html">
                                            (+92) 42 35777 457
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services" class="upcoming-wedding-main-block profile_section" style="background-color: #fff;">
    <div class="container">

        <div class="row">

            <hr>
            <h3 class="vendor-profile-listing-heading">Services</h3>

            <div class="col-md-12">
                <div class="panel-group faq-panel" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="col-md-4" style="padding: 5px;">
                        <div class="panel panel-default" style="min-height: 100%;height: 100%; margin-bottom: 0; padding: 5px;">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h6 class="panel-title question-heading">
                                    <i style="color: #ff1783; " class="fa fa-check"></i>&nbsp;

                                    Drones

                                </h6>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4" style="padding: 5px;">
                        <div class="panel panel-default" style="min-height: 100%;height: 100%; margin-bottom: 0; padding: 5px;">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h6 class="panel-title question-heading">
                                    <i style="color: #ff1783; " class="fa fa-check"></i>&nbsp;

                                    Candid Photography

                                </h6>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4" style="padding: 5px;">
                        <div class="panel panel-default" style="min-height: 100%;height: 100%; margin-bottom: 0; padding: 5px;">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h6 class="panel-title question-heading">
                                    <i style="color: #ff1783; " class="fa fa-check"></i>&nbsp;

                                    Traditional Photography

                                </h6>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4" style="padding: 5px;">
                        <div class="panel panel-default" style="min-height: 100%;height: 100%; margin-bottom: 0; padding: 5px;">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h6 class="panel-title question-heading">
                                    <i style="color: #ff1783; " class="fa fa-check"></i>&nbsp;

                                    Pre Wedding Shoots

                                </h6>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4" style="padding: 5px;">
                        <div class="panel panel-default" style="min-height: 100%;height: 100%; margin-bottom: 0; padding: 5px;">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h6 class="panel-title question-heading">
                                    <i style="color: #ff1783; " class="fa fa-check"></i>&nbsp;

                                    Albums

                                </h6>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4" style="padding: 5px;">
                        <div class="panel panel-default" style="min-height: 100%;height: 100%; margin-bottom: 0; padding: 5px;">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h6 class="panel-title question-heading">
                                    <i style="color: #ff1783; " class="fa fa-check"></i>&nbsp;

                                    Wedding Filmography

                                </h6>
                            </div>

                        </div>
                    </div><div class="col-md-4" style="padding: 5px;">
                        <div class="panel panel-default" style="min-height: 100%;height: 100%; margin-bottom: 0; padding: 5px;">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h6 class="panel-title question-heading">

                                    @using (Html.BeginForm("", "", FormMethod.Post)) {
                                        <div class="row">
                                            <div class="col-sm-9">


                                                @Html.TextBoxFor(x => x.NewService, new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3">
                                                <input type="submit" value="Add" class="btn"/>
                                            </div>
                                        </div>

                                    }

                                </h6>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section id="questions" class="upcoming-wedding-main-block profile_section" style="background-color: #faf9f5;">
    <div class="container">
        <div class="row">
            <hr>
            <h3 class="vendor-profile-listing-heading">Questions</h3>

            <div class="col-md-12">
                <div class="panel-group faq-panel" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="col-md-6" style="padding: 5px;">
                        <div class="panel panel-default" style="min-height: 100%;height: 100%; margin-bottom: 0; padding: 5px;">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h6 class="panel-title question-heading" style="font-weight: 700;">
                                    How long have you been shooting?
                                </h6>
                                <h6> More than 4 years</h6>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6" style="padding: 5px;">
                        <div class="panel panel-default" style="min-height: 100%;height: 100%; margin-bottom: 0; padding: 5px;">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h6 class="panel-title question-heading" style="font-weight: 700;">
                                    Do you provide videography services?
                                </h6>
                                <h6> Yes</h6>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6" style="padding: 5px;">
                        <div class="panel panel-default" style="min-height: 100%;height: 100%; margin-bottom: 0; padding: 5px;">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h6 class="panel-title question-heading" style="font-weight: 700;">
                                    Do you have a Studio?
                                </h6>
                                <h6> Yes</h6>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6" style="padding: 5px;">
                        <div class="panel panel-default" style="min-height: 100%;height: 100%; margin-bottom: 0; padding: 5px;">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h6 class="panel-title question-heading" style="font-weight: 700;">
                                    Do you travel out of city?
                                </h6>
                                <h6> Yes</h6>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section id="portfolio" class="upcoming-wedding-main-block profile_section" style="background-color: #fff;">

    <div class="container" style="background-color: #fff;">
        <div class="row" style="background-color: #fff;">

            <hr>
            <h3 class="vendor-profile-listing-heading">Portfolio</h3>

            <div class="col-md-12 col-sm-12-col-xs-12 col-lg-12" style="background-color: #fff;">


                <div class="col-lg-3 col-md-3 col-sm-3" style=" padding: 0; ">
                    <div class="gallery-block" style="border: 5px solid transparent;">
                        <div class="thumbnail" style="height: 200px; padding: 0; margin-bottom: 0; border-radius: 0px;">
                            <a href="~/Content/userassets/vandors/images/689/portfolio/a5540d02a601937b6f25460cf6d76ade.jpg" style="color: #ff1985;" title=" ">
                                <img src="~/Content/userassets/vandors/images/689/portfolio/a5540d02a601937b6f25460cf6d76ade.jpg" class="img-responsive" alt="gallery" style="width: 100%; height: auto;min-height: 200px;">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3" style=" padding: 0; ">
                    <div class="gallery-block" style="border: 5px solid transparent;">
                        <div class="thumbnail" style="height: 200px; padding: 0; margin-bottom: 0; border-radius: 0px;">
                            <a href="~/Content/userassets/vandors/images/689/portfolio/81089115b3a5323195b9ee729300eecc.jpg" style="color: #ff1985;" title=" ">
                                <img src="~/Content/userassets/vandors/images/689/portfolio/81089115b3a5323195b9ee729300eecc.jpg" class="img-responsive" alt="gallery" style="width: 100%; height: auto;min-height: 200px;">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3" style=" padding: 0; ">
                    <div class="gallery-block" style="border: 5px solid transparent;">
                        <div class="thumbnail" style="height: 200px; padding: 0; margin-bottom: 0; border-radius: 0px;">
                            <a href="~/Content/userassets/vandors/images/689/portfolio/f6afd4888f46ed975030fe35d7e45772.jpg" style="color: #ff1985;" title=" ">
                                <img src="~/Content/userassets/vandors/images/689/portfolio/f6afd4888f46ed975030fe35d7e45772.jpg" class="img-responsive" alt="gallery" style="width: 100%; height: auto;min-height: 200px;">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3" style=" padding: 0; ">
                    <div class="gallery-block" style="border: 5px solid transparent;">
                        <div class="thumbnail" style="height: 200px; padding: 0; margin-bottom: 0; border-radius: 0px;">
                            <a href="~/Content/userassets/vandors/images/689/portfolio/ac002e796e35e69285a455b9dd9bbf62.jpg" style="color: #ff1985;" title=" ">
                                <img src="~/Content/userassets/vandors/images/689/portfolio/ac002e796e35e69285a455b9dd9bbf62.jpg" class="img-responsive" alt="gallery" style="width: 100%; height: auto;min-height: 200px;">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3" style=" padding: 0; ">
                    <div class="gallery-block" style="border: 5px solid transparent;">
                        <div class="thumbnail" style="height: 200px; padding: 0; margin-bottom: 0; border-radius: 0px;">
                            <a href="~/Content/userassets/vandors/images/689/portfolio/02852e15b568c71926c60a68d8f7dee4.jpg" style="color: #ff1985;" title=" ">
                                <img src="~/Content/userassets/vandors/images/689/portfolio/02852e15b568c71926c60a68d8f7dee4.jpg" class="img-responsive" alt="gallery" style="width: 100%; height: auto;min-height: 200px;">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3" style=" padding: 0; ">
                    <div class="gallery-block" style="border: 5px solid transparent;">
                        <div class="thumbnail" style="height: 200px; padding: 0; margin-bottom: 0; border-radius: 0px;">
                            <a href="~/Content/userassets/vandors/images/689/portfolio/e0ee30e9099c93b141e08f692c7c8a3f.jpg" style="color: #ff1985;" title=" ">
                                <img src="~/Content/userassets/vandors/images/689/portfolio/e0ee30e9099c93b141e08f692c7c8a3f.jpg" class="img-responsive" alt="gallery" style="width: 100%; height: auto;min-height: 200px;">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3" style=" padding: 0; ">
                    <div class="gallery-block" style="border: 5px solid transparent;">
                        <div class="thumbnail" style="height: 200px; padding: 0; margin-bottom: 0; border-radius: 0px;">
                            <a href="~/Content/userassets/vandors/images/689/portfolio/801ab273b5d76d46166dcef096a50475.jpg" style="color: #ff1985;" title=" ">
                                <img src="~/Content/userassets/vandors/images/689/portfolio/801ab273b5d76d46166dcef096a50475.jpg" class="img-responsive" alt="gallery" style="width: 100%; height: auto;min-height: 200px;">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 column" style="padding: 0; ">
                    <div class="gallery-block" style="border: 5px solid transparent;">
                        <div class="thumbnail" style="height: 200px; padding: 0; margin-bottom: 0; border-radius: 0px;">

                            <img src="~/Content/userassets/vandors/images/689/portfolio/8a7adeb2cf65d00da2d78b8a17a2e2dd.jpg" class="img-responsive" alt="gallery" style="width: 100%; height: auto; min-height: 200px; ">

                        </div>
                    </div>
                    <a target="_blank" href="../portfolio-photos/infocus-by-zain-689.html">
                        <div class="next_img_1">
                            <center style="padding-top: 20%;">

                                <span style="color: #fff;font-size: 50px;">
                                    8                            <span class="fa fa-plus"></span>
                                </span>

                            </center>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3" style="display:none; padding: 0; ">
                    <div class="gallery-block" style="border: 5px solid transparent;">
                        <div class="thumbnail" style="height: 200px; padding: 0; margin-bottom: 0; border-radius: 0px;">
                            <a href="~/Content/userassets/vandors/images/689/portfolio/6a87d9e58b9590bdbdcf149a9d7cbcbb.jpg" style="color: #ff1985;" title=" ">
                                <img src="~/Content/userassets/vandors/images/689/portfolio/6a87d9e58b9590bdbdcf149a9d7cbcbb.jpg" class="img-responsive" alt="gallery" style="width: 100%; height: auto;min-height: 200px;">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3" style="display:none; padding: 0; ">
                    <div class="gallery-block" style="border: 5px solid transparent;">
                        <div class="thumbnail" style="height: 200px; padding: 0; margin-bottom: 0; border-radius: 0px;">
                            <a href="~/Content/userassets/vandors/images/689/portfolio/4efaf8082d05201015d85ecee560e32a.jpg" style="color: #ff1985;" title=" ">
                                <img src="~/Content/userassets/vandors/images/689/portfolio/4efaf8082d05201015d85ecee560e32a.jpg" class="img-responsive" alt="gallery" style="width: 100%; height: auto;min-height: 200px;">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3" style="display:none; padding: 0; ">
                    <div class="gallery-block" style="border: 5px solid transparent;">
                        <div class="thumbnail" style="height: 200px; padding: 0; margin-bottom: 0; border-radius: 0px;">
                            <a href="~/Content/userassets/vandors/images/689/portfolio/b933f5e2aa73a4eff366fbab84b5e369.jpg" style="color: #ff1985;" title=" ">
                                <img src="~/Content/userassets/vandors/images/689/portfolio/b933f5e2aa73a4eff366fbab84b5e369.jpg" class="img-responsive" alt="gallery" style="width: 100%; height: auto;min-height: 200px;">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3" style="display:none; padding: 0; ">
                    <div class="gallery-block" style="border: 5px solid transparent;">
                        <div class="thumbnail" style="height: 200px; padding: 0; margin-bottom: 0; border-radius: 0px;">
                            <a href="~/Content/userassets/vandors/images/689/portfolio/278a81a4fedbcca010708c7618138aa6.jpg" style="color: #ff1985;" title=" ">
                                <img src="~/Content/userassets/vandors/images/689/portfolio/278a81a4fedbcca010708c7618138aa6.jpg" class="img-responsive" alt="gallery" style="width: 100%; height: auto;min-height: 200px;">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3" style="display:none; padding: 0; ">
                    <div class="gallery-block" style="border: 5px solid transparent;">
                        <div class="thumbnail" style="height: 200px; padding: 0; margin-bottom: 0; border-radius: 0px;">
                            <a href="~/Content/userassets/vandors/images/689/portfolio/5061baf6647c8994475c7da4ee6bf2dd.jpg" style="color: #ff1985;" title=" ">
                                <img src="~/Content/userassets/vandors/images/689/portfolio/5061baf6647c8994475c7da4ee6bf2dd.jpg" class="img-responsive" alt="gallery" style="width: 100%; height: auto;min-height: 200px;">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3" style="display:none; padding: 0; ">
                    <div class="gallery-block" style="border: 5px solid transparent;">
                        <div class="thumbnail" style="height: 200px; padding: 0; margin-bottom: 0; border-radius: 0px;">
                            <a href="~/Content/userassets/vandors/images/689/portfolio/47aa8267807bba7577dfe99c878a2356.jpg" style="color: #ff1985;" title=" ">
                                <img src="~/Content/userassets/vandors/images/689/portfolio/47aa8267807bba7577dfe99c878a2356.jpg" class="img-responsive" alt="gallery" style="width: 100%; height: auto;min-height: 200px;">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3" style="display:none; padding: 0; ">
                    <div class="gallery-block" style="border: 5px solid transparent;">
                        <div class="thumbnail" style="height: 200px; padding: 0; margin-bottom: 0; border-radius: 0px;">
                            <a href="~/Content/userassets/vandors/images/689/portfolio/bb33ff376a824972fe2e1c7fea3b5574.jpg" style="color: #ff1985;" title=" ">
                                <img src="~/Content/userassets/vandors/images/689/portfolio/bb33ff376a824972fe2e1c7fea3b5574.jpg" class="img-responsive" alt="gallery" style="width: 100%; height: auto;min-height: 200px;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section id="albums" class="upcoming-wedding-main-block profile_section" style="background-color: #faf9f5;">
    <div class="container">
        <div class="row">
            <hr>
            <h3 class="vendor-profile-listing-heading">Albums</h3>
            <div class="col-md-12 col-sm-12-col-xs-12 col-lg-12">

                <a href="../album-images/-162.html" target="_blank">
                    <div class="col-lg-4 col-md-4 col-sm-6  column" style="margin-top: 20px; padding: 5px;">
                        <div class="thumbnail-albums">
                            <div class="album-images">
                                <img src="~/Content/userassets/vandors/images/689/albums/8254f9306bfea717cea9cbf949d0207e.jpg" class="img-responsive album_display_image">
                            </div><br><br>
                            <div class="caption">
                                <center>

                                    <h4 style="font-weight: 900;">1</h4><br>
                                    <img src="~/Content/assets/web/images/sep-1.png" class="img-responsive ">
                                </center>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="../album-images/decor-photography-164.html" target="_blank">
                    <div class="col-lg-4 col-md-4 col-sm-6  column" style="margin-top: 20px; padding: 5px;">
                        <div class="thumbnail-albums">
                            <div class="album-images">
                                <img src="~/Content/userassets/vandors/images/689/albums/4360be29391c5f5855771315ae3b200b.jpg" class="img-responsive album_display_image">
                            </div><br><br>
                            <div class="caption">
                                <center>

                                    <h4 style="font-weight: 900;">Decor Photography</h4><br>
                                    <img src="~/Content/assets/web/images/sep-1.png" class="img-responsive ">
                                </center>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="../portfolio-albums/infocus-by-zain-689.html" target="_blank">
                    <div class="col-lg-4 col-md-4 col-sm-6  column" style="margin-top: 20px; padding: 5px;">
                        <div class="thumbnail-albums">
                            <div class="album-images">
                                <img src="~/Content/userassets/vandors/images/689/albums/31725b0f7f8bd44cb321355a139af884.jpg" class="img-responsive album_display_image">
                            </div><br><br>
                            <div class="caption">
                                <center>

                                    <h4 style="font-weight: 900;">Birthday</h4><br>
                                    <img src="~/Content/assets/web/images/sep-1.png" class="img-responsive ">
                                </center>
                            </div>
                        </div>
                        <a href="../portfolio-albums/infocus-by-zain-689.html" target="_blank">
                            <div class="next_img_1" style="width: 97.5%; height: 98%;  margin-left: 0px;">
                                <center style="padding-top: 40%;">

                                    <span style="color: #fff;font-size: 50px;">
                                        4<span class="fa fa-plus"></span>
                                    </span>

                                </center>
                            </div>
                        </a>
                    </div>
                </a>
            </div>
        </div>

    </div>

</section>
<section id="videos" class="upcoming-wedding-main-block profile_section" style="background-color: #fff;">
    <div class="container">
        <div class="row">

            <hr>
            <h3 class="vendor-profile-listing-heading">videos</h3>
            <div class="col-md-12">
                <div class="panel-group faq-panel" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="col-lg-4 col-sm-4 col-xs-12 col-md-4" style="padding: 5px;">
                        <div style="position:relative; ">
                            <embed src="https://www.youtube.com/embed/jKb1-yPxyvY" id="video_0" onclick="shwo_videopopup(this)" style="width: 100%; height: 200px;" class="myvideo loading" autostart="false"> </embed>
                        </div>
                        <a href="#video" data-toggle="modal" data-target="#video" onclick="video_play(0)">
                            <div class="next_video_1" style="width: 97.5%; height:96%;">
                                <center style="padding-top: 11%;">
                                    <span style="color: #fff;font-size: 50px;">
                                        <img src="~/Content/assets/web/images/video.png" class="img-responsive video_button">
                                    </span>
                                </center>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-12 col-md-4" style="padding: 5px;">
                        <div style="position:relative; ">
                            <embed src="https://www.youtube.com/embed/G8NX2Y8cwfM" id="video_1" onclick="shwo_videopopup(this)" style="width: 100%; height: 200px;" class="myvideo loading" autostart="false"> </embed>
                        </div>
                        <a href="#video" data-toggle="modal" data-target="#video" onclick="video_play(1)">
                            <div class="next_video_1" style="width: 97.5%; height:96%;">
                                <center style="padding-top: 11%;">
                                    <span style="color: #fff;font-size: 50px;">
                                        <img src="~/Content/assets/web/images/video.png" class="img-responsive video_button">
                                    </span>
                                </center>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-4 col-xs-12 col-md-4" style="padding: 5px;">
                        <div style="position:relative; ">
                            <embed src="https://www.youtube.com/embed/Tpq9tOK5stI" style="width: 100%; height: 200px;" class="myvideo" autostart="false"> </embed>
                        </div>
                        <a target="_blank" href="../portfolio-videos/infocus-by-zain-689.html">
                            <div class="next_video_1" style="width: 97.5%; height:96%;">
                                <center style="padding-top: 32%;">

                                    <span style="color: #fff;font-size: 50px;">
                                        1<span class="fa fa-plus"></span>
                                    </span>

                                </center>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="packages" class="upcoming-wedding-main-block profile_section" style="background-color: #faf9f5;">
    <div class="container">
        <div class="row">
            <hr>
            <h3 class="vendor-profile-listing-heading">Packages</h3>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="min-height: 100%;overflow: hidden; padding: 5px;">

                <a href="javascript:;" class="analytics" data="1608%2cPackage.html" onclick="open_package(this,1608)" id="package_1608">
                    <div class="pakage_box" style="background-color: white;">
                        <div class="uper_box" style="text-align: center;word-wrap: break-word;">
                            <h3 style="font-size: 31px;" class="pricing-table-heading">Basic Package</h3><br>
                            <h3 class="uper_box_h2"><span style="margin-right: -10px; font-size: 10px;">RS&nbsp;</span> 25,000 <span style="margin-left: -10px; font-size: 10px;">/Per Day</span></h3><br>
                            <p class="uper_box_p">TAX EXCLUSIVE </p>
                            <p class="uper_box_h2" id="click_package_info_1608">
                                <span style="margin-left: -10px; font-size: 10px; text-transform: uppercase;">Click to view details</span>
                            </p>
                            <br>

                        </div>
                        <ul class="list-group" style="margin-bottom: 0px;border: none; display: none;">
                            <li style="background-color: white;text-align: left;border-bottom:1px solid #ccc; border-left:none; border-right:none " class="list-group-item"><span style="float: left; color: #ff1985;" class="fa fa-check-circle-o"></span>&nbsp;&nbsp;1 Photographer</li>
                            <li style="background-color: white;text-align: left;border-bottom:1px solid #ccc; border-left:none; border-right:none " class="list-group-item"><span style="float: left; color: #ff1985;" class="fa fa-check-circle-o"></span>&nbsp;&nbsp;1 Videographer</li>
                            <li style="background-color: white;text-align: left;border-bottom:1px solid #ccc; border-left:none; border-right:none " class="list-group-item"><span style="float: left; color: #ff1985;" class="fa fa-check-circle-o"></span>&nbsp;&nbsp;10 Page Story-book </li>
                            <li><div class="btn btn-large btn-pink" style=" width: 100%; " onclick='open_book_package_modal(this,1608,"Basic Package");'>Book Package</div></li>
                        </ul>

                    </div>
                </a>
                <div class="btn btn-large btn-pink" style=" width: 100%; " onclick='open_book_package_modal(this,1608,"Basic Package");'>Book Package</div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="min-height: 100%;overflow: hidden; padding: 5px;">

                <a href="javascript:;" class="analytics" data="1605%2cPackage.html" onclick="open_package(this,1605)" id="package_1605">
                    <div class="pakage_box" style="background-color: white;">
                        <div class="uper_box" style="text-align: center;word-wrap: break-word;">
                            <h3 style="font-size: 31px;" class="pricing-table-heading">Standard Package</h3><br>
                            <h3 class="uper_box_h2"><span style="margin-right: -10px; font-size: 10px;">RS&nbsp;</span> 45,000 <span style="margin-left: -10px; font-size: 10px;">/Per Day</span></h3><br>
                            <p class="uper_box_p">TAX EXCLUSIVE </p>
                            <p class="uper_box_h2" id="click_package_info_1605">
                                <span style="margin-left: -10px; font-size: 10px; text-transform: uppercase;">Click to view details</span>
                            </p>
                            <br>

                        </div>
                        <ul class="list-group" style="margin-bottom: 0px;border: none; display: none;">
                            <li style="background-color: white;text-align: left;border-bottom:1px solid #ccc; border-left:none; border-right:none " class="list-group-item"><span style="float: left; color: #ff1985;" class="fa fa-check-circle-o"></span>&nbsp;&nbsp;2 Photographers</li>
                            <li style="background-color: white;text-align: left;border-bottom:1px solid #ccc; border-left:none; border-right:none " class="list-group-item"><span style="float: left; color: #ff1985;" class="fa fa-check-circle-o"></span>&nbsp;&nbsp;2 Videographers</li>
                            <li style="background-color: white;text-align: left;border-bottom:1px solid #ccc; border-left:none; border-right:none " class="list-group-item"><span style="float: left; color: #ff1985;" class="fa fa-check-circle-o"></span>&nbsp;&nbsp;10 Sheets Storyboard</li>
                            <li style="background-color: white;text-align: left;border-bottom:1px solid #ccc; border-left:none; border-right:none " class="list-group-item"><span style="float: left; color: #ff1985;" class="fa fa-check-circle-o"></span>&nbsp;&nbsp;Video Highlights</li>
                            <li style="background-color: white;text-align: left;border-bottom:1px solid #ccc; border-left:none; border-right:none " class="list-group-item"><span style="float: left; color: #ff1985;" class="fa fa-check-circle-o"></span>&nbsp;&nbsp;Couple Shoot Video</li>
                            <li><div class="btn btn-large btn-pink" style=" width: 100%; " onclick='open_book_package_modal(this,1605,"Standard Package");'>Book Package</div></li>
                        </ul>

                    </div>
                </a>
                <div class="btn btn-large btn-pink" style=" width: 100%; " onclick='open_book_package_modal(this,1605,"Standard Package");'>Book Package</div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="min-height: 100%;overflow: hidden; padding: 5px;">

                <a href="javascript:;" class="analytics" data="1603%2cPackage.html" onclick="open_package(this,1603)" id="package_1603">
                    <div class="pakage_box" style="background-color: white;">
                        <div class="uper_box" style="text-align: center;word-wrap: break-word;">
                            <h3 style="font-size: 31px;" class="pricing-table-heading">Full Cinematic</h3><br>
                            <h3 class="uper_box_h2"><span style="margin-right: -10px; font-size: 10px;">RS&nbsp;</span> 75,000 <span style="margin-left: -10px; font-size: 10px;">/Per Day</span></h3><br>
                            <p class="uper_box_p">TAX EXCLUSIVE </p>
                            <p class="uper_box_h2" id="click_package_info_1603">
                                <span style="margin-left: -10px; font-size: 10px; text-transform: uppercase;">Click to view details</span>
                            </p>
                            <br>

                        </div>
                        <ul class="list-group" style="margin-bottom: 0px;border: none; display: none;">
                            <li style="background-color: white;text-align: left;border-bottom:1px solid #ccc; border-left:none; border-right:none " class="list-group-item"><span style="float: left; color: #ff1985;" class="fa fa-check-circle-o"></span>&nbsp;&nbsp;Multiple Videographers</li>
                            <li style="background-color: white;text-align: left;border-bottom:1px solid #ccc; border-left:none; border-right:none " class="list-group-item"><span style="float: left; color: #ff1985;" class="fa fa-check-circle-o"></span>&nbsp;&nbsp;Multiple Photographers</li>
                            <li style="background-color: white;text-align: left;border-bottom:1px solid #ccc; border-left:none; border-right:none " class="list-group-item"><span style="float: left; color: #ff1985;" class="fa fa-check-circle-o"></span>&nbsp;&nbsp;Unlimited Photos</li>
                            <li style="background-color: white;text-align: left;border-bottom:1px solid #ccc; border-left:none; border-right:none " class="list-group-item"><span style="float: left; color: #ff1985;" class="fa fa-check-circle-o"></span>&nbsp;&nbsp;15 Pages Storybook</li>
                            <li style="background-color: white;text-align: left;border-bottom:1px solid #ccc; border-left:none; border-right:none " class="list-group-item"><span style="float: left; color: #ff1985;" class="fa fa-check-circle-o"></span>&nbsp;&nbsp;Full Cinematography</li>
                            <li style="background-color: white;text-align: left;border-bottom:1px solid #ccc; border-left:none; border-right:none " class="list-group-item"><span style="float: left; color: #ff1985;" class="fa fa-check-circle-o"></span>&nbsp;&nbsp;Premium Coverage</li>
                            <li style="background-color: white;text-align: left;border-bottom:1px solid #ccc; border-left:none; border-right:none " class="list-group-item"><span style="float: left; color: #ff1985;" class="fa fa-check-circle-o"></span>&nbsp;&nbsp;Indoor & Outdoor</li>
                            <li><div class="btn btn-large btn-pink" style=" width: 100%; " onclick='open_book_package_modal(this,1603,"Full Cinematic");'>Book Package</div></li>
                        </ul>

                    </div>
                </a>
                <div class="btn btn-large btn-pink" style=" width: 100%; " onclick='open_book_package_modal(this,1603,"Full Cinematic");'>Book Package</div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="min-height: 100%;overflow: hidden; padding: 5px;">

                <a href="javascript:;" class="analytics" data="1741%2cPackage.html" onclick="open_package(this,1741)" id="package_1741">
                    <div class="pakage_box" style="background-color: white;">
                        <div class="uper_box" style="text-align: center;word-wrap: break-word;">
                            <h3 style="font-size: 31px;" class="pricing-table-heading">Signature Shoot</h3><br>
                            <h3 class="uper_box_h2"><span style="margin-right: -10px; font-size: 10px;">RS&nbsp;</span> 50,000 <span style="margin-left: -10px; font-size: 10px;">/Per Day</span></h3><br>
                            <p class="uper_box_p">TAX EXCLUSIVE </p>
                            <p class="uper_box_h2" id="click_package_info_1741">
                                <span style="margin-left: -10px; font-size: 10px; text-transform: uppercase;">Click to view details</span>
                            </p>
                            <br>

                        </div>
                        <ul class="list-group" style="margin-bottom: 0px;border: none; display: none;">
                            <li style="background-color: white;text-align: left;border-bottom:1px solid #ccc; border-left:none; border-right:none " class="list-group-item"><span style="float: left; color: #ff1985;" class="fa fa-check-circle-o"></span>&nbsp;&nbsp;Couple Shoot</li>
                            <li><div class="btn btn-large btn-pink" style=" width: 100%; " onclick='open_book_package_modal(this,1741,"Signature Shoot");'>Book Package</div></li>
                        </ul>

                    </div>
                </a>
                <div class="btn btn-large btn-pink" style=" width: 100%; " onclick='open_book_package_modal(this,1741,"Signature Shoot");'>Book Package</div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="min-height: 100%;overflow: hidden; padding: 5px;">

                <a href="javascript:;" class="analytics" data="1742%2cPackage.html" onclick="open_package(this,1742)" id="package_1742">
                    <div class="pakage_box" style="background-color: white;">
                        <div class="uper_box" style="text-align: center;word-wrap: break-word;">
                            <h3 style="font-size: 31px;" class="pricing-table-heading">Senior Artist Shoot</h3><br>
                            <h3 class="uper_box_h2"><span style="margin-right: -10px; font-size: 10px;">RS&nbsp;</span> 20,000 <span style="margin-left: -10px; font-size: 10px;">/Per Day</span></h3><br>
                            <p class="uper_box_p">TAX EXCLUSIVE </p>
                            <p class="uper_box_h2" id="click_package_info_1742">
                                <span style="margin-left: -10px; font-size: 10px; text-transform: uppercase;">Click to view details</span>
                            </p>
                            <br>

                        </div>
                        <ul class="list-group" style="margin-bottom: 0px;border: none; display: none;">
                            <li style="background-color: white;text-align: left;border-bottom:1px solid #ccc; border-left:none; border-right:none " class="list-group-item"><span style="float: left; color: #ff1985;" class="fa fa-check-circle-o"></span>&nbsp;&nbsp;Couple Shoots</li>
                            <li><div class="btn btn-large btn-pink" style=" width: 100%; " onclick='open_book_package_modal(this,1742,"Senior Artist Shoot");'>Book Package</div></li>
                        </ul>

                    </div>
                </a>
                <div class="btn btn-large btn-pink" style=" width: 100%; " onclick='open_book_package_modal(this,1742,"Senior Artist Shoot");'>Book Package</div>
            </div>

        </div>
    </div>
</section>

<!--  Reviews section  -->
<style type="text/css">
    .review-full-view-pic {
        padding-right: 0;
    }

    .review-name-full-view-class {
        padding-left: 0;
        margin-left: -20px;
    }

    .review-half-view-pic {
    }

    .review-name-half-view-class {
        padding-left: 25px;
    }
</style>


<section id="reviews" class="upcoming-wedding-main-block profile_section" style="background-color: #fff;; padding-top: 50px !important;">
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-xs-12">
            <div class="col-md-12 col-md-12 col-xs-12">
                <div class="why-block" style="padding-bottom: 45px;">

                    <h1 class="" style="text-align: center; font-size: 70px;">0</h1>
                    <div style="text-align: center; margin-top: 10px; width: 100%;">
                        <div class="star-rating">
                            <style type="text/css">
                                .stars-rating:after {
                                    width: 0.0%;
                                }
                            </style>
                            <div style="font-size: 25px;">
                                <span class="stars-container stars-rating">★★★★★</span>
                                <span style="font-size: 20px;vertical-align: bottom;"> </span>
                            </div>

                        </div>
                    </div>
                    <h4 style="text-align: center; margin-top: 10px;">Total Reviews : 0</h4>
                    <!-- <h4 style="text-align: center; margin-top: 10px;">Total Stars : 0</h4> -->
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="why-block" style="padding: 0px 0px; border: 0px;">
                    <button class="form-control" style="text-align: center; background-color: #ff1985; color:#fff; height: 50px;" onclick="open_review_form();">WRITE A REVIEW</button>
                </div>
            </div>
        </div>

        <div class="col-sm-8 col-md-8 col-xs-12" id="previous-reviews" style="max-height: 600px; overflow-x: hidden; overflow-y: auto; min-height: 400px;">
            <h3 id="no-review" style="text-align:center; margin-top:15%;">No review to show.</h3>          <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" id="show_more_button" style="display: none; padding-left: 0; padding-right: 0;">
                <button style="width: 100%;" class="btn btn-pink" onclick="load_more_reviews(this);">Show more</button>
            </div>
        </div>

    </div>
</div><br><br>



<section id="related_vendors" class="upcoming-wedding-main-block profile_section" style="background-color: #faf9f5;">
    <div class="container">

        <div class="row" id="">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr>
                <h3 class="vendor-profile-listing-heading">YOU MAY CONSIDER THESE VENDORS</h3>
                <div class="col-md-4 col-sm-6" style="padding: 5px;">
                    <a href="caramel-clicks-311.html" type="submit" class="analytics" data="311%2cVendor_Profile.html">
                        <div class="category-listing-section" style=" max-height: 338px;">
                            <div class="category-listing-dtl">
                                <div class="category-listing-img">
                                    <img src="~/Content/userassets/vandors/images/311/c1e38f3c500d91864967198f3bad58d5.jpg" style="height: 258px;" class="img-responsive" alt="Vendor Image">
                                </div>
                                <div class="category-info">
                                    <h6 class="category-dtl-heading">Caramel Clicks</h6>
                                    <div class="category-dtl-address"><i class="fa fa-map-marker" aria-hidden="true"></i> Lahore, Pakistan</div>
                                </div>
                            </div>
                            <div class="category-listing-text">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="category-text-heading">
                                            Photographers
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="category-price text-right">RS.40,000/<span style='font-size:10px;'>Per Day</span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>



                <div class="col-md-4 col-sm-6" style="padding: 5px;">
                    <a href="coalescence-305.html" type="submit" class="analytics" data="305%2cVendor_Profile.html">
                        <div class="category-listing-section" style=" max-height: 338px;">
                            <div class="category-listing-dtl">
                                <div class="category-listing-img">
                                    <img src="~/Content/userassets/vandors/images/305/aa9ac4437b0c711bc6c87630f403d51c.jpg" style="height: 258px;" class="img-responsive" alt="Vendor Image">
                                </div>
                                <div class="category-info">
                                    <h6 class="category-dtl-heading">Coalescence</h6>
                                    <div class="category-dtl-address"><i class="fa fa-map-marker" aria-hidden="true"></i> Lahore, Pakistan</div>
                                </div>
                            </div>
                            <div class="category-listing-text">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="category-text-heading">
                                            Photographers
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="category-price text-right">RS.75,000/<span style='font-size:10px;'>Per Day</span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>



                <div class="col-md-4 col-sm-6" style="padding: 5px;">
                    <a href="fahad-malik-photography-farooq-studios-3513.html" type="submit" class="analytics" data="3513%2cVendor_Profile.html">
                        <div class="category-listing-section" style=" max-height: 338px;">
                            <div class="category-listing-dtl">
                                <div class="category-listing-img">
                                    <img src="~/Content/userassets/vandors/images/3513/26e1736ce5772aa480ca5dab4e8dedcd.jpg" style="height: 258px;" class="img-responsive" alt="Vendor Image">
                                </div>
                                <div class="category-info">
                                    <h6 class="category-dtl-heading">Fahad Malik Photography Farooq Studios</h6>
                                    <div class="category-dtl-address"><i class="fa fa-map-marker" aria-hidden="true"></i> </div>
                                </div>
                            </div>
                            <div class="category-listing-text">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="category-text-heading">
                                            Photographers
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="category-price text-right">RS.12,000/<span style='font-size:10px;'>-1</span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>




            </div>



        </div>
    </div>
</section>
<section id="related_vendors" class="upcoming-wedding-main-block profile_section" style="background-color: #fff;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm1-12">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h4 class="footer-heading"><a style="text-decoration: none;" href="../vendors/all/lahore.html">Vendors in Lahore </a></h4>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " style="padding-right: 0; overflow: hidden; font-size: 12px;">
                            <a href="../vendors/venues/lahore.html" class="footer-links"> <span class="fa fa-angle-double-right"></span> Best Wedding Venues in Lahore</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " style="padding-right: 0; overflow: hidden; font-size: 12px;">
                            <a href="../vendors/photographers/lahore.html" class="footer-links"> <span class="fa fa-angle-double-right"></span> Best Wedding Photographers in Lahore</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " style="padding-right: 0; overflow: hidden; font-size: 12px;">
                            <a href="../vendors/caterers/lahore.html" class="footer-links"> <span class="fa fa-angle-double-right"></span> Best Wedding Caterers in Lahore</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " style="padding-right: 0; overflow: hidden; font-size: 12px;">
                            <a href="../vendors/car-rentals/lahore.html" class="footer-links"> <span class="fa fa-angle-double-right"></span> Best Wedding Car Rentals in Lahore</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " style="padding-right: 0; overflow: hidden; font-size: 12px;">
                            <a href="../vendors/decorators/lahore.html" class="footer-links"> <span class="fa fa-angle-double-right"></span> Best Wedding Decorators in Lahore</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " style="padding-right: 0; overflow: hidden; font-size: 12px;">
                            <a href="../vendors/event-managers/lahore.html" class="footer-links"> <span class="fa fa-angle-double-right"></span> Best Wedding Event Managers in Lahore</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " style="padding-right: 0; overflow: hidden; font-size: 12px;">
                            <a href="../vendors/salons/lahore.html" class="footer-links"> <span class="fa fa-angle-double-right"></span> Best Wedding Salons in Lahore</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " style="padding-right: 0; overflow: hidden; font-size: 12px;">
                            <a href="../vendors/cakes/lahore.html" class="footer-links"> <span class="fa fa-angle-double-right"></span> Best Wedding Cakes in Lahore</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " style="padding-right: 0; overflow: hidden; font-size: 12px;">
                            <a href="../vendors/invitations/lahore.html" class="footer-links"> <span class="fa fa-angle-double-right"></span> Best Wedding Invitations in Lahore</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h4 class="footer-heading"><a style="text-decoration: none;" href="../vendors.html">Vendors in Pakistan</a></h4>
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " style="padding-right: 0; overflow: hidden; font-size: 12px;">
                            <a href="../vendors/venues.html" class="footer-links"> <span class="fa fa-angle-double-right"></span> Best Venues in Pakistan</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " style="padding-right: 0; overflow: hidden; font-size: 12px;">
                            <a href="../vendors/photographers.html" class="footer-links"> <span class="fa fa-angle-double-right"></span> Best Photographers in Pakistan</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " style="padding-right: 0; overflow: hidden; font-size: 12px;">
                            <a href="../vendors/caterers.html" class="footer-links"> <span class="fa fa-angle-double-right"></span> Best Caterers in Pakistan</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " style="padding-right: 0; overflow: hidden; font-size: 12px;">
                            <a href="../vendors/car-rentals.html" class="footer-links"> <span class="fa fa-angle-double-right"></span> Best Car Rentals in Pakistan</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " style="padding-right: 0; overflow: hidden; font-size: 12px;">
                            <a href="../vendors/decorators.html" class="footer-links"> <span class="fa fa-angle-double-right"></span> Best Decorators in Pakistan</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " style="padding-right: 0; overflow: hidden; font-size: 12px;">
                            <a href="../vendors/event-managers.html" class="footer-links"> <span class="fa fa-angle-double-right"></span> Best Event Managers in Pakistan</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " style="padding-right: 0; overflow: hidden; font-size: 12px;">
                            <a href="../vendors/salons.html" class="footer-links"> <span class="fa fa-angle-double-right"></span> Best Salons in Pakistan</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " style="padding-right: 0; overflow: hidden; font-size: 12px;">
                            <a href="../vendors/cakes.html" class="footer-links"> <span class="fa fa-angle-double-right"></span> Best Cakes in Pakistan</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " style="padding-right: 0; overflow: hidden; font-size: 12px;">
                            <a href="../vendors/invitations.html" class="footer-links"> <span class="fa fa-angle-double-right"></span> Best Invitations in Pakistan</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
</section>

    
