@model UI.ViewModels.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link rel="stylesheet" href="~/Content/css/formsStyle.css" />
<div id="account-overlay">
    <div id="container">
        <section class="form-section">
            <div class="row attuh-from">


                <div class="col-md-12 col-sm-12 col-xs-12 no-padding authentication_from" id="customer_forget_password_form">
                    <div class="col-md-8 col-sm-8 col-xs-12 auth_form_body">
                        <div class="col-md-12 col-sm-12 col-xs-12 slice mobile_form_changer">
                            <div class="col-md-12 col-sm-12 col-xs-12 change_form">
                                <span style="color: #606060">Are you vendor?</span>
                                <button class="btn btn-sm business_signin_btn" onclick="open_vendor_signin_form();" style="height: 40px;">Business Log In</button>
                            </div>
                        </div>
                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                        {
                            <div class="form-left-part-portion">
                                <div class="col-md-12 col-sm-12 col-xs-12 slice">
                                    <h3 class="text-center"><span style="font-size: 15px; text-transform: uppercase;">Customer Forget Password</span></h3><br> <br>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 "> <h4 id="user-change-password-message"></h4></div>
                                <div class="col-md-12 col-sm-12 col-xs-12 slice">
                                    @Html.TextBoxFor(x => x.Username, new {@class = "form-control required", @type = "text", @placeholder = "Username *"})
                                    @Html.ValidationMessageFor(x => x.Username)
                                    @*<input autocomplete="off" type="email" class="form-control required" value="" id="User_Change_Password_Email" name="User_Change_Password_Email" placeholder="Enter Email for a link *">*@
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 slice">
                                    @Html.TextBoxFor(x => x.Email, new {@class = "form-control required", @type = "email", @placeholder = "Email *"})
                                    @Html.ValidationMessageFor(x => x.Email)
                                    @*<input autocomplete="off" type="email" class="form-control required" value="" id="User_Change_Password_Email" name="User_Change_Password_Email" placeholder="Enter Email for a link *">*@
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 slice">
                                    <button type="submit" id="change_password_user" name="change_password_user" class="btn btn-large form-btn"> Get Change Password Link </button>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 slice">
                                    <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                                        <h4 class="sm-heading" style="text-align: right;">
                                            Already have an account? <a href="@Url.Action("Login")" style="color: #606060;"><span class="signup_link">Login</span></a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        }
                            <div class="col-md-12 col-sm-12 col-xs-12 slice pc_form_changer">
                                <div class="col-md-12 col-sm-12 col-xs-12 change_form">
                                    <span style="color: #606060">Are you vendor?</span>
                                    <button class="btn btn-sm business_signin_btn" onclick="open_vendor_signin_form();" style="height: 40px;">Business Log In</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-0 auth_form_img no-padding">
                            <div class="col-md-12 form-image no-padding"> </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
