@model UI.ViewModels.LoginViewModel

@{
    Layout = "../Shared/_Layout2.cshtml";
    ViewBag.Title = "Login";
}


<link rel="stylesheet" href="~/Content/css/formsStyle.css" />
<div id="account-overlay">
    <div id="container">
        <section class="form-section">
            <div class="row attuh-from">
                <div class="col-md-12 col-sm-12 col-xs-12 no-padding authentication_from" id="customer_signin_form">
                    <div class="col-md-8 col-sm-8 col-xs-12 auth_form_body">
                        <div class="col-md-12 col-sm-12 col-xs-12 slice mobile_form_changer">
                            <div class="col-md-12 col-sm-12 col-xs-12 change_form">
                                <span style="color: #606060">Are you vendor?</span>
                                <a class="btn btn-sm business_signin_btn" style="height: 40px;">Business Log In</a>
                            </div>
                        </div>
                        <div class="form-left-part-portion">
                            @using (Html.BeginForm("Index", "Auth", FormMethod.Post)) {
                                <div class="col-md-12 col-sm-12 col-xs-12 slice">
                                    <h3 class="text-center customer_login_heading_pc">
                                        <span style="font-size: 15px; text-transform: uppercase; color: #000;">Customer Log In</span><br>
                                        <span style="font-size: 25px;">"Keep calm and plan your wedding through Shadibox"</span>
                                    </h3>
                                    <h3 class="text-center customer_login_heading_mobile"><span style="font-size: 15px; text-transform: uppercase;">Customer Log In</span> </h3>
                                    <br><br>
                                </div>
                                if (Model != null && Model.ErrorMessage != null) {
                                    <div class="col-md-12 col-sm-12 col-xs-12 alert alert-danger alert-dismissible">
                                        <h4 id="status"></h4>

                                        <h4 id="user-login-message">
                                            @Model.ErrorMessage
                                        </h4>

                                    </div>
                                }
                                <div class="col-md-12 col-sm-12 col-xs-12 slice">
                                    @Html.TextBoxFor(x => x.Username, new { @type = "text", @id = "User_Email", @Placeholder = "Username", @class = "form-control required", @required = true })
                                    @*<input type="email" name="User_Email" id="User_Email" placeholder="Email" class="form-control required">*@
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 slice">
                                    @Html.TextBoxFor(x => x.Password, new { @type = "password", @id = "User_Password", @Placeholder = "Password", @class = "form-control required", @required = true })
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 slice">
                                    <button type="submit" class="btn btn-large form-btn btn-pink" id="loginuser" name="loginuser"> Log In</button>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 slice">
                                    <div class="col-md-6 col-sm-6 col-xs-6 no-padding">
                                        <h4 class="sm-heading">
                                            <a href="@Url.Action("ForgotPassword","Account")" style="color: #ff1985;text-align: left;">Forgot Password?</a>
                                        </h4>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 no-padding">
                                        <h4 class="sm-heading" style="text-align: right;">
                                            New to Shadibox? <a href="@Url.Action("SignUp","Account")" style="color: #606060;"> <span class="signup_link">Sign Up</span></a>
                                        </h4>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 slice pc_form_changer">
                            <div class="col-md-12 col-sm-12 col-xs-12 change_form">
                                <span style="color: #606060">Are you vendor?</span>
                                <button class="btn btn-sm business_signin_btn" style="height: 40px;">Business Log In</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-0 auth_form_img no-padding">
                        <div class="col-md-12 form-image no-padding"> </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
