<ul class="couple-dashboard-tabs general-nav-tabs tabs" id="navigation-btnlist">
    <li><a href="@Url.Action("Dashboard","Account")" class="btn btn-default" id="Dashboard"><span class="badge">Home</span></a></li>
    <li><a href="@Url.Action("Profile","Account")" class="btn btn-default" id="Profile"><span class="badge">Profile</span></a></li>
    <li><a href="@Url.Action("Requests","Account")" class="btn btn-default" id="Requests"><span class="badge">Requests</span></a></li>
    <li><a href="@Url.Action("Responses","Account")"  class="btn btn-default" id="Responses"><span class="badge">Responses</span></a></li>
    <li><a href="@Url.Action("Events","Account")" class="btn btn-default" id="Events"><span class="badge">Events</span></a></li>
    <li><a href="@Url.Action("Reviews","Account")" class="btn btn-default" id="Reviews"><span class="badge">Reviews</span></a></li>
</ul>


<script>
    var url = document.URL.split('/')[4];
    document.getElementById(url).classList.add('active');
</script>